.footer {
  background-color: var(--footer-bg);
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: center;

  @media (min-width: 1190px) {
    padding: 27.5px 0 27.5px 0;
  }
  .menu {
    width: fit-content;
    @media (min-width: 1190px) {
      width: 745px;
    }
  }
  .menu-link {
    @media (max-width: 1189px) {
      margin-bottom: 12px;
      display: block;
    }

  }
  .menu-list {
    align-items: center;
    width: 98%;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width: 1190px) {
      flex-direction: row;
      height: 45px;
    }
  }
}
