.fourth-block {
  margin-bottom: 40px;
}

.forth-block__title {
  color: var(--smoky-white);
  font-weight: 500;
  font-size: 28px;
  line-height: 45px;
  margin-bottom: 9px;
  text-align: center;
}


.fourth-block {

}

.fourth-block__modal {
  width: 262px;
  margin: 0 auto;
}