:root {
  --background-color: #A6C9FF;
  --smoky-blue: #BEB9FF;
  --header-bg: #B47FF6;
  --white: #FFFFFF;
  --smoky-white: #F3F3F3;
  --banner-bg: #7029CB;
  --btn-color: #FF4B4B;
  --green: #3ADE4B;
  --yellow: #D4FF5A;
  --dark-green: #497957;
  --ligth-green: #00FF4A;
  --footer-bg: #D87FF6;
}